* {
  font-family: Helvetica;
}

div {
  /*outline: red 0.25px solid;*/
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.white-title {
  color: white;
}

.jumbotron {
  padding: 10%;
  height: 400px;
  text-align: center;
  font-weight: bold;
  background: url("jumbo_bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.line-up {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
}

.jumbo-shout {
  padding-top: 10%;
}

.quote-form {
  text-align: center;
  margin-top: 4%;
}

.person-container {
  width: 100%;
  height: 100%;
  display:table;
  text-align: center;
  position: relative;
}

.port-graph-row {
  display: table-row;
}

.portrait, .graph {
  display: table-cell;
  width:50%;
}

.quote-row {
  display:table-row;
}

.quote {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.result {
  margin-top: 5%;
  display: none;
}

.new-quote, .new-graph, .right-arrow {
  text-align: center;
  height: 125px;
}

.new-quote, .right-arrow {
  padding-top: 3%;
}